.menuItemContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.menuItemHeader {
  position: sticky;
  top: 0;
  width: 100%;
}

.menuItemCoverImage {
  width: 100%;
  max-height: 40vh;
  aspect-ratio: 16/9;
  object-fit: contain;
}

.menuItemCloseButton {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 1rem;
  right: 1rem;
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  background-color: var(--color-neutral-100);
  color: var(--color-black);
  cursor: pointer;
}

.menuItemCloseButton:hover > svg {
  opacity: 0.6;
}

.menuItemContentWrapper {
  flex-grow: 1;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: start;
  overflow: scroll;
  line-height: 1.2;
}

.menuItemCategory {
  font-size: 0.875rem;
  padding: 0.5rem 0.675rem;
  border: 1px solid var(--color-primary);
  background-color: var(--color-primary);
  color: var(--color-white);
  border-radius: 3rem;
}

.menuItemPrice {
  color: var(--color-primary);
  font-weight: bold;
}

.menuItemIngredientContainer {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  width: 100%;
}

.menuItemIngredientWrapper {
  position: relative;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  padding-left: 2rem;
  cursor: pointer;
  gap: 1rem;
  width: 100%;
  transition: all 200ms ease-out;
}

.menuItemIngredientWrapper:hover {
  opacity: 0.8;
}

.menuItemIngredientWrapper > label {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  padding-left: 2rem;
  cursor: pointer;
}

.menuItemIngredientPrice {
  color: var(--color-primary);
}

.checkMark {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  height: 1.2rem;
  width: 1.2rem;
  border: 2px solid var(--color-primary);
  border-radius: 100%;
  transition: background-color 100ms ease-out;
}

.checkMarkChecked {
  background-color: var(--color-primary);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  height: 1.2rem;
  width: 1.2rem;
  border: 2px solid var(--color-primary);
  border-radius: 100%;
  transition: background-color 100ms ease-out;
}

/* Add checkmark icon */
.checkMark:after {
  content: "";
  position: absolute;
  display: none;
  left: 4px;
  top: 1px;
  width: 4px;
  height: 8px;
  border: solid var(--color-white);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkMarkChecked:after {
  content: "";
  position: absolute;
  display: block;
  left: 4px;
  top: 1px;
  width: 4px;
  height: 8px;
  border: solid var(--color-white);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.menuItemFooterContainer {
  position: fixed;
  box-sizing: border-box;
  background-color: var(--color-white);
  background: linear-gradient(
    180deg,
    var(--color-white-05) 0%,
    var(--color-white) 100%
  );
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1rem 0;
}

.menuItemFooter {
  display: flex;
  gap: 1rem;
  padding: 0 1rem;
  justify-content: space-between;
}

.menuItemQuantityButton {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  padding: 1rem 1rem;
  background-color: var(--color-primary-300);
  border-radius: 0.5rem;
  flex-shrink: 1;
}

.quantityValue::-webkit-inner-spin-button,
.quantityValue::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.quantityValue {
  width: 4ch;
  text-align: center;
  border: none;
  background-color: transparent;
  color: var(--color-primary);
  font-weight: bold;
  outline: none;
  border: 1px solid transparent;
  font-size: 0.875rem;
}

.quantityValue:focus {
  border: 1px solid var(--color-primary);
  border-radius: 0.5rem;
}

.quantityDecrease,
.quantityIncrease {
  width: 1.25rem;
  height: 1.25rem;
  display: flex;
  justify-content: center;
  background-color: var(--color-primary-50);
  color: var(--color-primary);
  border-radius: 100%;
  cursor: pointer;
  line-height: 1;
}

.quantityDecrease:hover,
.quantityIncrease:hover {
  opacity: 0.7;
}

.menuItemBuyButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  padding: 0.675rem 1rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  text-wrap: wrap;
}

.cartQuantityButton {
  padding: 0.5rem 0.5rem;
  background-color: var(--color-white);
  border: 1px solid var(--color-primary);
}

.cartQuantityButtonClicked {
  padding: 0.5rem 0.5rem;
}
