html {
  scroll-behavior: smooth;
}

/* Page specific */

.menuPageWrapper {
  padding: 0 1rem;
}

.menuSectionWrapper {
  position: relative;
}

.menuCategoriesSlider {
  position: sticky;
  top: 0;
  display: flex;
  gap: 1rem;
  overflow-y: scroll;
  padding: 0.75rem 0;
  background-color: var(--color-neutral);
  z-index: 1000;
  margin-bottom: -30px;
}

.menuCategoriesSliderItem {
  text-decoration: none;
  text-wrap: nowrap;
  color: var(--color-neutral-900);
  font-size: 0.875rem;
  padding: 0.5rem 0.675rem;
  border: 1px solid var(--color-primary-100);
  border-radius: 3rem;
  cursor: pointer;
}

.menuCategoriesSliderItem.selected {
  background-color: var(--color-primary-100);
  color: var(--color-neutral-900);
}

.menuCategorySection {
  position: relative;
  padding-top: 48px;
}

.menuCategoryTitleContainer {
  position: sticky;
  z-index: 100;
  top: 55px;
  background-color: var(--color-neutral);
}

.menuCategoryTitleWrapper {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--color-primary-01);
  border-radius: 0.5rem;
  color: var(--color-neutral-900);
  text-decoration: none;
}

.menuCategoryTitle {
  font-size: 1.5rem;
}

.menuCategoryTitleImage {
  object-fit: cover;
  aspect-ratio: 1/1;
  height: 1.5rem;
  border-radius: 100%;
}

.menuItemList {
  padding-top: 0.5rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 0.25rem;
}

.menuItemWrapper {
  display: flex;
  max-height: 8.5rem;
  justify-content: space-between;
  gap: 1rem;
  text-decoration: none;
  color: var(--color-neutral-900);
  transition: opacity 100ms ease-out;
  padding: 0.5rem;
  cursor: pointer;
}

.menuItemWrapper:hover {
  opacity: 0.6;
}

.menuItemWrapperAdded {
  composes: menuItemWrapper;
  position: relative;
  border: 2px solid var(--color-primary);
  border-radius: 1rem;
}

.menuItemAddedQuantity {
  position: absolute;
  padding: 0.25rem 1rem;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--color-primary);
  display: flex;
  align-items: center;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.menuItemAddedQuantity {
  font-size: 0.75rem;
  color: var(--color-neutral);
  font-weight: bold;
}

.menuItemContent {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  width: clamp(50%, 60%, 70ch);
}

.menuItemTitle {
  font-size: 1rem;
}

.menuItemDescription {
  line-height: 1.25;
  font-size: 0.75rem;
}

.menuItemPrice {
  color: var(--color-primary);
  font-weight: bold;
}

.menuItemImage {
  max-width: 30%; /* Existing style */
  aspect-ratio: 4 / 3;
  object-fit: contain; /* Ensures the image covers the allotted space without distortion */
  max-height: 6rem;
}

.menuItemSeparator {
  background-color: var(--color-neutral-300);
  height: 1px;
  border: none;
}
