html {
  scroll-behavior: smooth;
}

/* Page specific */

.menuPageWrapper {
  position: relative;
}

.menuCategoriesSlider {
  position: sticky;
  top: 0;
  display: flex;
  gap: 1rem;
  overflow-y: scroll;
  padding: 0.75rem 0;
  background-color: var(--color-neutral);
  z-index: 1000;
  margin-bottom: -30px;
}

.menuCategoriesSliderItem {
  text-decoration: none;
  text-wrap: nowrap;
  color: var(--color-neutral-600);
  padding: 0.25rem 0.5rem;
  border: 1px solid var(--color-primary);
  border-radius: 1rem;
  cursor: pointer;
}

.menuCategoriesSliderItem.selected {
  background-color: var(--color-primary);
  color: var(--color-neutral);
}

.menuCategorySection {
  position: relative;
  padding-top: 48px;
}

.menuCategoryTitleContainer {
  position: sticky;
  z-index: 100;
  top: 48px;
  background-color: var(--color-neutral);
}

.menuCategoryTitleWrapper {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--color-primary-01);
  border-radius: 0.5rem;
  color: var(--color-neutral-600);
  text-decoration: none;
}

.menuCategoryTitle {
  font-size: 2rem;
}

.menuCategoryTitleImage {
  object-fit: cover;
  aspect-ratio: 1/1;
  height: 2rem;
  border-radius: 100%;
}

.menuItemList {
  padding-top: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.menuItemWrapper {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  text-decoration: none;
  color: var(--color-neutral-600);
  transition: opacity 100ms ease-out;
  padding: 0.5rem;
  cursor: pointer;
}

.menuItemWrapper:hover {
  opacity: 0.6;
}

.menuItemWrapperAdded {
  composes: menuItemWrapper;
  position: relative;
  border: 2px solid var(--color-primary);
  border-radius: 1rem;
}

.menuItemAddedQuantity {
  position: absolute;
  padding: 0.25rem 1rem;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--color-primary);
  display: flex;
  align-items: center;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.menuItemAddedQuantity {
  font-size: 0.75rem;
  color: var(--color-neutral);
  font-weight: bold;
}

.menuItemContent {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: clamp(50%, 60%, 70ch);
}

.menuItemTitle {
  font-size: 1.25rem;
}

.menuItemDescription {
  line-height: 1.25;
}

.menuItemPrice {
  color: var(--color-primary);
}

.menuItemImage {
  width: 20%; /* Existing style */
  aspect-ratio: 4 / 3;
  object-fit: contain; /* Ensures the image covers the allotted space without distortion */
}

.itemDialog[open] {
  transform: translateY(0);
}

.itemDialog {
  position: fixed;
  z-index: 10000;
  margin: 0 auto;
  margin-top: auto;
  max-width: 600px;
  width: 100%;
  height: 90vh;
  border: none;
  background-color: var(--color-neutral);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  transition: transform 200ms ease-in-out,
    display 200ms ease-in-out allow-discrete,
    overlay 200ms ease-in-out allow-discrete;
  transform: translateY(100%);
}

@starting-style {
  .itemDialog[open] {
    transform: translateY(100%);
  }
}

.itemDialog[open]::backdrop {
  background-color: rgba(0, 0, 0, 0.39);
}

.itemDialog::backdrop {
  background-color: rgba(0, 0, 0, 0);
  transition: display 200ms ease-in-out allow-discrete,
    overlay 200ms ease-in-out allow-discrete, background-color 200ms ease-in-out;
}

@starting-style {
  .itemDialog[open]::backdrop {
    background-color: rgba(0, 0, 0, 0);
  }
}
