.itemDialog[open] {
  transform: translateY(0);
}

.itemDialog {
  height: 100%;
  position: fixed;
  bottom: 0;
  margin: 0 auto;
  margin-top: auto;
  width: 100%;
  max-width: 600px;
  border: none;
  background-color: var(--color-neutral);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  transform: translateY(100%);
  transition: transform 200ms ease-in-out,
    overlay 200ms ease-in-out allow-discrete,
    display 200ms ease-in-out allow-discrete;
}

@starting-style {
  .itemDialog[open] {
    transform: translateY(100%);
  }
}

.itemDialog[open]::backdrop {
  background-color: rgba(0, 0, 0, 0.39);
}

.itemDialog::backdrop {
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 200ms ease-in-out;
}

@starting-style {
  .itemDialog[open]::backdrop {
    background-color: rgba(0, 0, 0, 0);
  }
}
