:root {
  --dialog-position-y: 100%;
}

.itemDialog {
  height: 95%;
  bottom: 0;
  margin: 0 auto;
  margin-top: auto;
  width: 100%;
  max-width: 600px;
  border: none;
  background-color: var(--color-white);
  color: var(--color-black);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  transform: translateY(var(--dialog-position-y));
  transition: transform 200ms ease-in-out,
    overlay 200ms ease-in-out allow-discrete,
    display 200ms ease-in-out allow-discrete;
}

.itemDialog[open] {
  transform: translateY(0);
}

@starting-style {
  .itemDialog[open] {
    transform: translateY(var(--dialog-position-y));
  }
}

.itemDialog[open]::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.itemDialog::backdrop {
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 200ms ease-in-out;
}

@starting-style {
  .itemDialog[open]::backdrop {
    background-color: rgba(0, 0, 0, 0);
  }
}
